.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.676);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: 170px;
  width: 440px;
  transition: transform 0.3s ease;
}

.modal-close {
  position: absolute;
  top: -23px;
  right: 7px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transform: scale(0.8);
}
